@import "../globals.scss";

@media (max-width: 985px) {
    li {
        display: none;
    }
    div nav {
        justify-content: space-between;
    }
}

@media (min-width: 985px) {
    div .hamburger {
        display: none;
    }
}




.hamburger {
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 16px;
    height: 15px;
    margin-right: 16px;
    margin-left: 16px;

    &:hover {
        cursor: pointer;
    }

    @keyframes hamt1 {
        0% {
            transform: translateY(0) rotate(0);
        }
        50% {
            transform: translateY(4px) rotate(0);
        }
        100% {
            transform: translateY(4px) rotate(45deg);
        }
    }

    @keyframes hamt2 {
        0% {
            transform: translateY(0) rotate(0);
        }
        50% {
            transform: translateY(-4px) rotate(0);
        }
        100% {
            transform: translateY(-4px) rotate(-45);
        }
    }

    @keyframes hamt1r {
        0% {
            transform: translateY(4px) rotate(45deg);
        }
        50% {
            transform: translateY(4px) rotate(0);
        }
        100% {
            transform: translateY(0px) rotate(0deg);
        }
    }

    @keyframes hamt2r {
        0% {
            transform: translateY(-4px) rotate(-45deg);
        }
        50% {
            transform: translateY(-4px) rotate(0);
        }
        100% {
            transform: translateY(0) rotate(0);
        }
    }


    .lineOne.lines {
        border-radius: 10px;
        width: 16px;
        height: 1px;
        background-color: rgb(93, 93, 93);
        animation: hamt1r 250ms ease-in-out;
    }

    .lineTwo.lines {
        border-radius: 10px;
        width: 16px;
        height: 1px;
        background-color: rgb(93, 93, 93);
        animation: hamt2r 250ms ease-in-out;
    }

    .lineOne.x {
        border-radius: 10px;
        width: 16px;
        height: 1px;
        background-color: rgb(93, 93, 93);
        transform: translateY(4px) rotate(45deg);
        animation: hamt1 250ms ease-in-out;
    }

    .lineTwo.x {
        border-radius: 10px;
        width: 16px;
        height: 1px;
        background-color: rgb(93, 93, 93);
        transform: translateY(-4px) rotate(-45deg);
        animation: hamt2 250ms ease-in-out;
    }

}


.together {
    display: flex;
    align-items: center;
}

.color {
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(0px) saturate(0%);
} 

nav {
    z-index: 1000;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    background-color: rgba(252, 250, 250, 0.8);
    backdrop-filter: blur(20px) saturate(180%);
   

    #magni {
        font-size: 14px;
    }

    .logo {
        color: $text;
        margin-right: 16px;
        margin-left: 16px;

        &:hover {
            cursor: pointer;
        }
    }
   
    ul {
        display: flex;
        padding: 0;

        li {
            color: $text;
            font-size: 12px;
            list-style-type: none;
            margin-left: 16px;
            margin-right: 16px;
            transition: color ease-in-out 250ms;

            &:hover {
                cursor: pointer;
                color: rgb(131, 131, 131)
            }
        }
    }
   
}