$text: hsla(0, 0%, 0%, 0.8);
$background: #ffffff;
$button: #0071e3;
$primaryLight: #F5FCCD;
$secondaryDark: #419197;
$secondaryLight: #78D6C6;
$lightGray: rgb(243, 243, 243);
$darkGray: rgb(229, 229, 229);
$shadow: rgba(85, 85, 85, 0.789);
$vibrant1: #79E0EE;
$vibrant2: #F11A7B;


p {
  font-family: var(--roboto-font);
  font-size: 18px; 
}

h1 {
  font-family: var(--bebas-font);
  font-size: 30px; 
}




img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
  background-color: #ffffff;
}

body {
  line-height: 1,5;
  -webkit-font-smoothing: antialiased;  
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5 {
  overflow-wrap: break-word;
}

