@import "./globals.scss";

@media (min-width: 1200px) {
    div .caro {
        height: 500px;
      }
  }

  @media (max-width: 800px) {
    div .boxes .box {
        width: 100%;
    }
  div .boxes img {
    width: 100%;
  }

  div .caro {
    height: 300px;
  }
  }

  @media (max-width: 600px) {
    div .caro {
        height: 200px;
      }
  }

  .mobileMenu {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
  }


.true.show {
    top: 44px;
    position: fixed;
    width: 100%;
    z-index: 999;
    transform: translateY(0);
    transition: transform 0ms;
} 

.false.show {
    top: 44px;
    position: fixed;
    width: 100%;
    z-index: 999;
    transition: transform 750ms;
    transform: translateY(0);
}

.false.hide{
    color: rgba(255, 0, 0, 0);
    width: 100%;
    z-index: 999;
    transition: transform 500ms, color 250ms;
}

.hide {
    position: fixed;
    pointer-events: none;
    transform: translateY(-100%);
}

.wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(219, 31, 31, 0);
    z-index: 998;
    transition: background-color 500ms, backdrop-filter 500ms;
    
}

.wrap:not(.null) {
    background-color: rgba(255, 255, 255, 0.172);
    backdrop-filter: blur(20px) saturate(180%);
    transition: background-color 500ms, backdrop-filter 500ms;
    transition-delay: 250ms;
}

.wrap.null {
    pointer-events: none;
}



#store {
    z-index: 999;
    padding-bottom: 40px;
    width: 100%;
    top: 44px;
    opacity: 1;
    background-color: rgb(255, 255, 255);
    display: flex;
 


    .divider {
        margin-top: 40px;
    }

    p {
        margin-left: 50px;
    }

    h1 {
        margin-left: 20px;
    }

    
}







.module-content {
    top: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 570px;
    background-color: $background;

    .space {
        height: 100px;
    }


    .button-container {
        display: flex;
        margin: 20px 0 40px 0;

        button {
            padding: 11px 21px;
            border-radius: 50px;
            border: none;
        }

        .buy {
            border: 1px solid $button;
            margin-left: 20px;
            color: $button;
            background-color: white;

            &:hover {
                background-color: $button;
                color: white;
                cursor: pointer;
            }
        }

        .learn-more {
            background-color: $button;
            color: white;

            &:hover {
                cursor: pointer;
                background-color: #0080ff;
            }
        }
    }

    h1 {
        font-size: 48px;
    }

    p {
        font-size: 25px;
    }

    img {
        width: 600px;
    }
}

.phone {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    align-items: center;

    h1 {
        font-size: 48px;
        color: white;
        z-index: 1;
        margin-top: 50px;
    }

    p {
        font-size: 25px;
        margin-left: 10px;
        margin-right: 10px;
        color: white;
        z-index: 1;
    }


    .button-container {
        z-index: 1;
        display: flex;
        margin: 20px 0 40px 0;

        button {
            padding: 11px 21px;
            border-radius: 50px;
            border: none;
        }

        .buy {
            border: 1px solid $button;
            margin-left: 20px;
            color: $button;
            background-color: rgba(255, 255, 255, 0);

            &:hover {
                background-color: $button;
                color: white;
                cursor: pointer;
            }
        }

        .learn-more {
            background-color: $button;
            color: white;

            &:hover {
                cursor: pointer;
                background-color: #0080ff;
            }
        }
    }
    img {
       position: absolute; 
        height: 600px;
        object-fit: cover;    
    }
}

.phone-normal {
    margin-top: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 48px;
        color: rgb(0, 0, 0);
        z-index: 1;
        margin-top: 50px;
    }

    p {
        font-size: 25px;
        color: rgb(0, 0, 0);
        z-index: 1;
    }


    .button-container {
        z-index: 1;
        display: flex;
        margin: 20px 0 40px 0;

        button {
            padding: 11px 21px;
            border-radius: 50px;
            border: none;
        }

        .buy {
            border: 1px solid $button;
            margin-left: 20px;
            color: $button;
            background-color: rgba(255, 255, 255, 0);

            &:hover {
                background-color: $button;
                color: white;
                cursor: pointer;
            }
        }

        .learn-more {
            background-color: $button;
            color: white;

            &:hover {
                cursor: pointer;
                background-color: #0080ff;
            }
        }
    }

    img {
        z-index: -1;
        position: absolute;
        height: 600px;
        width: 100%;
        object-fit: cover;
    }
}

.boxes {
    margin-top: 365px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    #box-5 {
        align-items: end;

        .text-box {
            height: 170px;
        }
    }

    #box-6 {
        align-items: end;

        .text-box {
            height: 145px;
        }

        p {
            color: white;
        }
    }
  
    .text-box {
        text-align: center;
        width: 280px;
        margin-top: 30px;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            margin-bottom: 5px;
        }

        .white-text {
            color: white;
        }

        .button-container {
            display: flex;
            margin: 20px 0 40px 0;

            #transparent-button {
                background-color: transparent;

                &:hover {
                    background-color: $button;
                }
            }

    
            button {
                padding: 11px 21px;
                border-radius: 50px;
                border: none;
            }
    
            .buy {
                font-size: 12px;
                border: 1px solid $button;
                margin-left: 20px;
                color: $button;
                background-color: white;
    
                &:hover {
                    background-color: $button;
                    color: white;
                    cursor: pointer;
                }
            }
    
            .learn-more {
                font-size: 12px;
                background-color: $button;
                color: white;
    
                &:hover {
                    cursor: pointer;
                    background-color: #0080ff;
                }
            }
        }
    }
    

    .box {
        display: flex;
        justify-content: center;
        margin: 8px;
        height: 500px;
        width: calc(50% - 20px);

      

        img {
          object-fit: cover;
          height: inherit;
        }
    }
}


.blockWrap {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
}

.caro {
    height: 400px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.caroWindow {
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;


    img {
        object-fit: cover;
        z-index: 15;
        width: 70%;
        opacity: 0;
        transform: translateX(200%);
        transition: transform ease-in-out 750ms, opacity 750ms;
    }

    .leftOut {
        padding: 8px;
        transform: translateX(-200%);
        opacity: 0;
        z-index: 1;
    }

    .left {
        padding: 8px;
        z-index: 4;
        transform: translateX(-100%);
        opacity: 0.5;
        margin-right: 32px;
        margin-left: 32px;

        &:hover {
            cursor: pointer;
        }
    }

    .center {
        padding: 8px;
        transform: translateX(0%);
        opacity: 1;
        z-index: 3;
    }

    .right {
        padding: 8px;
        transform: translate(100%);
        opacity: 0.5;
        margin-right: 32px;
        margin-left: 32px;
        z-index: 2;

        &:hover {
            cursor: pointer;
        }
    }

    .rightOut {
        padding: 8px;
        transform: translateX(200%);
        opacity: 0;
        z-index: 1;
    }
}

.points {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 100%;
}

.circle.false {
    margin: 8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(131, 131, 131);
    transition: background-color 500ms;
    transition-delay: 500ms;
}

.circle.true {
    margin: 8px;
    width: 8px;
    height:8px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    transition: background-color 500ms;
    transition-delay: 500ms;
}

.inputContainer {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
   

    .inputSubCont {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .logo {
            margin-left: 50px;
            font-size: 30px;
        }

        input {
            margin-left: 20px;
            height: 40px;
           width: 200%;
           border: none;

           &:focus {
            outline: none;
           }
        }
    }
}

p {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}






















